---
config: |
  resources:
    cpuRequestsMissing: warning
    cpuLimitsMissing: warning
    memoryRequestsMissing: warning
    memoryLimitsMissing: warning
  images:
    tagNotSpecified: error
  healthChecks:
    readinessProbeMissing: warning
    livenessProbeMissing: warning
  networking:
    hostNetworkSet: warning
    hostPortSet: warning
  security:
    hostIPCSet: error
    hostPIDSet: error
    notReadOnlyRootFileSystem: warning
    privilegeEscalationAllowed: error
    runAsRootAllowed: warning
    runAsPrivileged: error
    capabilities:
      error:
        ifAnyAdded:
          - SYS_ADMIN
          - NET_ADMIN
          - ALL
      warning:
        ifAnyAddedBeyond:
          - CHOWN
          - DAC_OVERRIDE
          - FSETID
          - FOWNER
          - MKNOD
          - NET_RAW
          - SETGID
          - SETUID
          - SETFCAP
          - SETPCAP
          - NET_BIND_SERVICE
          - SYS_CHROOT
          - KILL
          - AUDIT_WRITE

dashboard:
  enable: true
  replicas: 1
  service:
    type: ClusterIP
  image:
    repository: quay.io/reactiveops/polaris
    tag: 0.1.1
    pullPolicy: Always

webhook:
  enable: false
  replicas: 1
  image:
    repository: quay.io/reactiveops/polaris
    tag: 0.1.1
    pullPolicy: Always

rbac:
  create: true

templateOnly: false
