# goreleaser is run via a wrapper that creates .goreleaser.yml from .goreleaser.yml.envsubst
.goreleaser.yml
# dist
# # Binaries for programs and plugins
.go-version
*.exe
*.exe~
*.dll
*.so
*.dylib
polaris

!cmd/polaris
!deploy/helm/polaris

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
/*.out

Tiltfile
main
.DS_Store

*-packr.go
dist
.vscode

*-test.yaml

node_modules
/dist
