# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
polaris

!cmd/polaris
!deploy/helm/polaris

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
/*.out

Tiltfile
main
.DS_Store

*-packr.go
dist
.vscode