body {
  margin: 0;
  font-family: 'Muli', 'Helvetica', 'Arial', sans-serif;
  background: #f5f5f5;
}

.header {
  padding: 20px 20px 0;
}

.header .header-content {
  margin: 0 auto;
  width: 900px;
}

.header .header-right {
  float: right;
}

.header .logo {
  width: 280px;
}

.header span.oss-text {
  color: #23103A;
  display: block;
  font-size: 11px;
  margin-bottom: 3px;
}

.header a {
  text-decoration: none;
}

.header .ro-logo {
  height: 40px;
}

.dashboard-content {
  width: 960px;
  margin: 0 auto;
}

.charts {
  height: 405px;
}

.namespace {
  margin: 25px 20px;
  padding: 10px 20px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.namespace h3 {
  margin: 0;
  font-weight: 300;
  font-size: 28px;
  padding: 15px 20px 20px;
}

.namespace h3 strong {
  margin: 0;
  font-weight: bold;
}

.namespace .cluster-overview {
  height: 220px;
}

.namespace .cluster-overview .cluster-score {
  width: 200px;
  display: inline-block;
  margin-left: 20px;
}

.namespace .cluster-overview .cluster-score .weather {
  font-size: 110px;
  font-weight: bold;
  color: #777;
}

.namespace .cluster-overview .cluster-score .sailing-message {
  font-size: 16px;
  line-height: 28px;
  margin-left: 7px;
  font-weight: 300;
  color: #555;
}

.namespace .cluster-overview .cluster-score .scores {
  font-size: 16px;
  margin-top: 10px;
}

#clusterScoreChart {
  width: 550px;
  position: relative;
  top: -247px;
  left: 120px;
}

.namespace .cluster-overview .result-messages {
  margin: 0 20px;
  display: inline-block;
  position: relative;
  left: -100px;
  top: -47px;
}

.namespace .cluster-overview .result-messages ul {
  position: relative;
  top: 0px;
  left: 400px;
  font-size: 20px;
  line-height: 35px;
}

.namespace-content {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.namespace-content tr {
  height: 50px;
}

.namespace-content td {
  padding: 15px 20px;
  margin: 0;
  font-size: 18px;
  border-top: 1px solid #eee;
}

.namespace .resource-info .name {
  cursor: pointer;
}

.namespace .resource-info .caret-expander {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-image: url('../images/caret-right.svg');
  background-size: 13px auto;
  background-repeat: no-repeat;
  background-position: 2px center;
}

.namespace .resource-info.expanded .caret-expander {
  background-image: url('../images/caret-bottom.svg');
  background-position: center 2px;
}

.namespace .resource-info .result-messages {
  display: none;
  color: #6a6a6a;
}

.namespace .resource-info.expanded .result-messages {
  display: block;
}

.namespace .result-messages h4 {
  font-weight: bold;
  font-size: 15px;
  margin: 15px 25px 6px;
}

.namespace .result-messages ul {
  list-style-type: none;
  font-size: 13px;
  line-height: 20px;
  margin: 5px 35px;
  padding: 0;
  color: #6a6a6a;
}

.namespace .result-messages ul li {
  margin-bottom: 5px;
}

.namespace .result-messages i {
  display: inline-block;
  margin-right: 7px;
  text-align: center;
  width: 20px;
  font-size: 17px;
  font-weight: bold;
  position: relative;
  bottom: -3px;
}

.namespace .result-messages .success i {
  color: #8BD2DC;
}

.namespace .result-messages .warning i {
  color: #f26c21;
}

.namespace .result-messages .error i {
  color: #a11f4c;
}

.namespace td.status-bar {
  vertical-align: top;
  padding-top: 18px;
}

.namespace .status {
  float: right;
  width: 200px;
}

.namespace .status div {
  height: 15px;
  border-radius: 10px;
}

.namespace .status .passing {
  background-color: #8BD2DC;
  float: left;
}

.namespace .status .warning {
  background-color: #f26c21;
  float: left;
}

.namespace .status .failing {
  background-color: #a11f4c;
  width: 200px;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.footer a {
  color: #999;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
