@import "~bootstrap/scss/bootstrap.scss";

.App {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 1rem;
  width: 100vw;
  height: 100vh;

  .left-nav-bar {
    grid-column: 1;
  }
  .app-content {
    grid-column: 2;
  }
}
