.card.cluster {
  margin-top: 15px;
  padding: 40px;
  position: relative;
}

.card h3 {
  margin: 0;
  font-weight: 300;
  font-size: 28px;
  padding: 20px 20px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: -2px; /* Fix for kerning issue */
}

.card.cluster h3 {
  padding: 4px 0px;
  margin-bottom: 20px;
}

.card.namespace h3 strong {
  font-weight: bold;
}

.cluster-overview {
  top: -60px;
}

.cluster-overview .graph {
  display: inline-block;
  width: 35%;
  margin-left: -10px;
  margin-right: 10px;
}

.cluster-overview .cluster-score,
.cluster-overview .result-messages {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}
.cluster-overview .cluster-score{
  padding-top: 15px;
}
.cluster-overview .result-messages {
  padding-top: 70px;
}

.cluster-overview .graph canvas {
  margin-left: auto;
  margin-right: auto;
}

.cluster-overview .score-description {
  font-size: 11px;
  line-height: 1.3em;
}

.cluster-overview .cluster-score .weather {
    font-size: 80px;
    color: #444;
    margin: 10px 0 5px;
}

.cluster-overview .cluster-score .sailing {
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
  color: #555;
  margin-bottom: 11px;
}

.cluster-overview .cluster-score .scores {
  font-size: 16px;
  margin-top: 15px;
}

.cluster-overview .cluster-score .scores span {
  width: 70px;
  display: inline-block;
  color: #555;
  font-weight: 200;
}

.cluster-overview .cluster-score .scores strong {
  font-size: 24px;
}

.cluster .expandable-table ul.message-list {
  margin: 10px 26px;
}

.cluster-overview .result-messages ul {
  font-size: 20px;
  line-height: 35px;
}

.cluster-overview-footer {
  position: absolute;
  bottom: 0px;
  right: 10px;
  left: 40px;
}

.cluster-overview-footer p {
  display: inline-block;
  font-size: 11px;
  color: #777;
  width: 48%;
}

.cluster-overview-footer p.kubernetes-overview {
  text-align: right;
}

.cluster-overview-footer p.kubernetes-overview .kubernetes-stat {
  margin-left: 15px;
}

.kubernetes-overview ul {
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  text-align: right;
}

.kubernetes-overview li {
  display: inline-block;
  margin: 20px 0 0 10px;
}

.kubernetes-overview li span {
  margin-right: 3px;
}

.category .name {
  font-weight: bold;
}

.category .category-score {
  font-size: 13px;
  margin-left: 5px;
  font-weight: 200;
}

.category .category-score strong {
  font-weight: bold;
}


.category .category-info {
  font-size: 14px;
  line-height: 21px;
  margin-left: 25px;
}

.category .category-info a {
  font-weight: bold;
  color: #23103a;
  text-decoration: none;
}

.category .category-info a:hover {
  text-decoration: underline;
}

.category .status {
  width: 200px;
  animation: fadeIn 2s;
}

.expandable-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.expandable-table tr {
  height: 50px;
}

.expandable-table .resource-info {
  padding: 15px 20px;
  margin: 0;
  font-size: 18px;
  border-top: 1px solid #eee;
}

.expandable-table .resource-info .name {
  cursor: pointer;
}

.expandable-table .resource-info .caret-expander {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-image: url('../images/caret-right.svg');
  background-size: 13px auto;
  background-repeat: no-repeat;
  background-position: 2px center;
}

.expandable-table .resource-info.expanded .caret-expander {
  background-image: url('../images/caret-bottom.svg');
  background-position: center 2px;
}

.expandable-table .resource-info .expandable-content {
  display: none;
}

.expandable-table .resource-info.expanded .expandable-content {
  display: block;
}

.namespace .resource-info .result-messages {
  color: #6a6a6a;
}

.namespace .result-messages h4 {
  font-weight: bold;
  font-size: 15px;
  margin: 15px 25px 6px;
}

ul.message-list {
  list-style-type: none;
  font-size: 13px;
  line-height: 20px;
  margin: 5px 35px;
  padding: 0;
  color: #6a6a6a;
}

.cluster-overview ul.message-list {
  margin: 0px;
}

ul.message-list li {
  margin-bottom: 5px;
}

ul.message-list li i.message-icon {
  display: inline-block;
  margin-right: 7px;
  text-align: center;
  width: 20px;
  font-size: 17px;
  font-weight: bold;
  position: relative;
  bottom: -3px;
}

.result-messages .success i.message-icon {
  color: #8BD2DC;
}

.result-messages .warning i.message-icon {
  color: #f26c21;
}

.result-messages .error i.message-icon {
  color: #a11f4c;
}

.controller-type {
  display: inline-block;
  min-width: 115px;
}

a.more-info {
  color: #bbb;
  font-size: 12px;
  text-decoration: none;
}

a.more-info:hover {
  color: #555;
}


.card .status-bar {
  padding-top: 7px;
  float: right;
}

.card .status-bar .status {
  float: right;
  animation: fadeIn 2s;
}

.card .status {
  width: 200px;
}

.status div {
  height: 12px;
  border-radius: 5px;
}

.status .passing {
  background-color: #8BD2DC;
  float: left;
}

.status .warning {
  background-color: #f26c21;
  float: left;
}

.status .failing {
  background-color: #a11f4c;
  width: 100%;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
