body {
  margin: 0;
  font-family: 'Muli', 'Helvetica', 'Arial', sans-serif;
  background: #f5f5f5;
  line-height: 1.3em;
}

.main-content {
  width: 960px;
  margin: auto;
}

.card {
  margin: 25px 20px;
  padding: 20px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.exemption-alert {
  padding: 30px 0 15px;
}
.exemption-alert .fa-exclamation {
  margin-right: 10px;
  color: #f26c21;
}
