body {
  margin: 0;
  font-family: 'Muli', 'Helvetica', 'Arial', sans-serif;
  background: #f5f5f5;
  line-height: 1.3em;
}

.navbar {
  padding: 20px 20px 0;
}

.navbar .navbar-content {
  margin: 0 auto;
  width: 900px;
}

.navbar .navbar-right {
  padding: 15px;
  float: right;
}

.navbar .logo {
  width: 280px;
}

.navbar span.oss-text {
  color: #23103A;
  display: block;
  font-size: 11px;
  margin: 3px 0;
}

.navbar a {
  text-decoration: none;
}

.navbar .ro-logo {
  height: 40px;
}

.main-content {
  width: 960px;
  margin: 0 auto;
}

.card {
  margin: 25px 20px;
  padding: 20px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.footer a {
  color: #999;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

