body {
  margin: 0;
  font-family: 'Muli', 'Helvetica', 'Arial', sans-serif;
  background: #f5f5f5;
  line-height: 1.3em;
}

.navbar {
  padding-top: 20px;
}
.navbar, .main-content {
  width: 960px;
  margin: auto;
}

.navbar .navbar-content {
  padding: 0px 20px;
}

.navbar .navbar-right {
  float: right;
}

.navbar .logo {
  height: 80px;
}

.navbar .fw-logo {
  height: 64px;
}

.navbar a {
  text-decoration: none;
}

.card {
  margin: 25px 20px;
  padding: 20px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.footer a {
  color: #999;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.exemption-alert {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #f26c21;
  border-radius: 2px;
}
.exemption-alert .fa-exclamation {
  margin-right: 10px;
  color: #f26c21;
}
