.navbar {
  padding: 0;
}

.navbar .fw-nav {
  width: 100%;
  background-color: #180929;
}

.navbar .fw-nav a {
  color: #fff;
}

.navbar .fw-nav .right-section img {
  height: 20px;
}

.navbar .polaris-nav a {
  color: #180929;
}

.navbar .logo {
  height: 40px;
}

.navbar .fw-logo {
  height: 32px;
}

.navbar a {
  text-decoration: none;
}

