successMessage: Pod has a valid topology spread constraint
failureMessage: Pod should be configured with a valid topology spread constraint
category: Reliability
target: PodSpec
controllers:
  exclude:
  - Job
  - CronJob
schema:
  '$schema': https://json-schema.org/draft/2019-09/schema
  type: object
  required:
    - topologySpreadConstraints
  properties:
    topologySpreadConstraints:
      type: array
      minItems: 1
