{{define "header"}}
  <div class="header">
    <div class="header-content">
      <img class="logo" src="/static/images/polaris-logo.png" alt="Polaris" />
      <div class="header-right">
        <a href="https://reactiveops.com?source=fairwinds" target="_blank">
          <span class="oss-text">Open Source Project By</span>
          <img class="ro-logo" src="/static/images/ro-logo.png" alt="ReactiveOps" />
        </a>
      </div>
    </div>
  </div>
{{end}}
