<!doctype html>
<html>

<head>
  {{ template "head" . }}
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cash/3.0.0-beta.3/cash.min.js"></script>
  <script>
    window.fairwindsAuditData = {{ .JSON }};
  </script>
  <script type="text/javascript" src="/static/js/main.js"></script>
</head>

<body>
  {{ template "navbar" . }}
  <div class="main-content">
    {{ template "preamble" . }}
    {{ template "dashboard" . }}
  </div>
  {{ template "footer" . }}
</body>
</html>
