<!doctype html>
<html>

<head>
  <script>
    window.polarisSummary = {{ .JSON }};
  </script>
  {{ template "head" . }}
</head>

<body>
  {{ template "navbar" . }}
  <div class="main-content">
    {{ template "preamble" . }}
    {{ template "dashboard" . }}
  </div>
  {{ template "footer" . }}
</body>
</html>
