{{define "navbar"}}
  <div class="navbar">
    <div class="navbar-content">
      <a href="/">
        <img class="logo" src="/static/images/polaris-logo.png" alt="Polaris" />
      </a>
      <div class="navbar-right">
        <a href="https://reactiveops.com?source=fairwinds" target="_blank">
          <span class="oss-text">Open Source Project By</span>
          <img class="ro-logo" src="/static/images/ro-logo.png" alt="ReactiveOps" />
        </a>
      </div>
    </div>
  </div>
{{end}}
