{{define "navbar"}}
  <div class="navbar">
    <div class="navbar-content">
      <a href="{{ .BasePath }}">
        <img class="logo" src="static/images/polaris-logo.png" alt="Polaris" />
      </a>
      <div class="navbar-right">
        <a href="https://fairwinds.com?source=polaris" target="_blank">
          <img class="fw-logo" src="static/images/oss-logo.png" alt="Fairwinds" />
        </a>
      </div>
    </div>
  </div>
{{end}}
